<html>
<head>
    <meta charset="utf-8"/>
    <title>Login - Anagram Engine</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
<div class="login-container">
    <div class="login-header">Login - Twitter</div>
    <div class="login-content">
        <div class="text">You are not logged in. Please login first.</div>
        
        <div class="login-button">
                <a href="{{ url }}">Login</a>
        </div>        
    </div>
</div>
</body>
</html>